{% extends "base.html" %}
{% load static %}
{% block feed %}

{% if rss_details %}
  {% for rss_detail in rss_details %}
    <div class="simple-feed-card card feed-item feed-element news" data-post-offset="1" data-link-id="7KZ9Ek2"  data-has-story="true" data-has-veooz360="true" data-web-url="http://www.business-standard.com/article/economy-policy/monetary-policy-committee-is-for-economy-s-interest-rajan-116031200685_1.html" data-language="en" data-show-summary="enabled" data-show-stories="enabled" data-show-buzz="enabled">
        <div class="media-content">
            <div class="feed-item-photo feed-item-share" data-post-type="news">
                <div class="feed-item-photo-container clipv  bg1  feed-item-news-photo-container feed-mobile-story-view">
                    <img class="feed-item-news-photo" src="https://imb.veooz.com/jK/Al/jKLg2Al-large.jpg">
                    <div class="feed-item-photo-gradient" ></div>
                </div>
            </div>
        </div>
        <div class="data-content">
            <div class="suggestions-block">
            </div>
            <div class="feed-item-title">
                <h2>
                    <a class="title-url"
                        href={{rss_detail.link}}
                        target="_blank" rel="nofollow">
                        {{ rss_detail.title }}
                    </a>
                </h2>
            </div>
            <div class="news-source-info">

            </div>
            <p class="feed-item-text">
                <span class="summary-content">
                    {{rss_detail.summary}}
                </span>
            </p>
        </div>
        <div class="feed-item-actions">
            <div id="share-wrapper" class="share-wrapper">
                <span class="favourite-link fav" title="Save for later">
                    <img alt="Favorite" class="vz feedview-favorite-icon" src='{% static "images/share_light.png" %}' />
                </span>
                <div class="more-options" title="click here to share">
                    <img alt="More" class="vz share-expand-icon-17x17" src='{% static "images/share_light.png" %}'>
                </div>
                <div class="box-news-share default-hidden hidden">
                    <div class="share-icons">
                        <a rel="nofollow" class="pop facebook f1-share" data-network="facebook" title="Share this page on facebook" href="/sharelink?channel=facebook&amp;link=7KZ9Ek2">
                            <img class="vz feedview-facebook-share-icon" src="/assets/images/transparent.png" />
                        </a>
                        <a rel="nofollow" class="pop twitter f1-share" data-network="twitter" title="Share this page on twitter" href="/sharelink?channel=twitter&amp;link=7KZ9Ek2">
                            <img class="vz feedview-twitter-share-icon" src="/assets/images/transparent.png" />
                        </a>
                        <a rel="nofollow" class="pop show-mobile whatsapp f1-share" data-network="whatsapp" title="Share this page on whatsapp" href="/sharelink?channel=whatsapp&amp;link=7KZ9Ek2">
                            <img class="vz feedview-whatsapp-share-icon" src="/assets/images/transparent.png" />
                        </a>
                        <a rel="nofollow" class="pop hide-mobile googleplus f1-share" data-network="googleplus" title="Share this page on googleplus" href="/sharelink?channel=googleplus&amp;link=7KZ9Ek2">
                            <img class="vz feedview-google-plus-share-icon" src="/assets/images/transparent.png" />
                        </a>
                        <a rel="nofollow" class="pop hide-mobile pinterest f1-share share-hide-custom" data-network="pinterest" title="Share this page on pinterest" href="/sharelink?channel=pinterest&amp;link=7KZ9Ek2">
                            <img class="vz feedview-pinterest-share-icon" src="/assets/images/transparent.png" />
                        </a>
                        <a rel="nofollow" class="pop email f1-share share-hide-custom" data-network="email" title="Share this page on email" href="/sharelink?channel=email&amp;link=7KZ9Ek2">
                            <img class="vz feedview-mail-icon" src="/assets/images/transparent.png" />
                        </a>
                    </div>
                </div>
            </div>
            <a class="v360-simple-button-link" title="full coverage" href="http://www.veooz.com/news/7KZ9Ek2.html#360">
                <div class="buzz-v360-wrapper">
                    <img class="vz v360-icon"  src="/media/images/360.png" />
                </div>
            </a>
        </div>
    </div>
  {% endfor %}
{% else %}
  <h2> No Data Available </h2>
{% endif %}
{% endblock %}
